{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <h1 class="my-4">Products</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Date_of_creation</th>
                <th>Date_of_last_modification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.dateOfCreation ? product.dateOfCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.dateOfLastModification ? product.dateOfLastModification|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a class="btn btn-outline-secondary" href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('product_new') }}">Create new</a>
    <a class="btn btn-dark" href="{{ path('category_index') }}">Categories</a>
{% endblock %}